.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(180, 52%, 96%);
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.profile img {
    margin-right: 10px;
}

.company-details {
    padding: 5px;
}

.company-details span {
    margin-bottom: 15px;
}

.company-details .company {
    color: var(--text-color);
    font-weight: 500;
}

.company-details .position {
    cursor: pointer;
    font-weight: 700;
}

.company-details .position:hover {
    color: var(--text-color);
    transition: 0.5s;
}

.vacancy-details span {
    color: hsl(180, 8%, 52%);
    margin-right: 15px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px 6px hsl(180, 14%, 20%);
    width: 89%;
    height: 15vh;
    margin-top: 15px;
    background-color: #fff;
}

.languages ul li {
    list-style-type: none;
    margin-right: 10px;
}

.languages ul li span {
    cursor: pointer;
    margin-right: 15px;
    padding: 6px;
    font-weight: 700;
    color: var(--text-color);
    border-radius: 10px;
    background-color: hsl(180, 31%, 95%);
}

.languages ul li span:hover {
    color: #fff;
    background-color: var(--text-color);
    transition: 0.5s;
}